@import '../../../bootstrap.css';

.fab-add {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .my-class {
    font-weight: bold;
    color: green;
  }

  .rates {
    background-color: #f1f1f1;
    padding: 4px 10px;
    margin: 5px 0;
  }

  .manage {
    cursor: pointer;
    color: #CC0000;
  }

  .my-text-box {
    border: 1px solid #666;
    background-color: #efefef;
    border-radius: 10px;
    padding: 7px;
    font-size: 16px;
    margin-top: 15px;
    outline: none;
  }