<div class="container">
  <header>
    <strong><span>O<sub>2</sub></span> Oxygen</strong>
    <nav>
      <ul>
        <li>
          <!-- <img src="../../assets/btn-min.svg" id="min" (click)="minimizeWindow()"> -->
          <img src="./assets/btn-min.svg" id="min" (click)="minimizeWindow()">
        </li>
        <li>
          <!-- <img src="../../assets/btn-close.svg" (click)="closeWindow()"> -->
          <img src="./assets/btn-close.svg" (click)="closeWindow()">
        </li>
      </ul>
    </nav>
  </header>
</div>