<button mat-fab class="fab-add" color="accent" (click)="addEdit(newContainer)">
  <mat-icon aria-label="App New Container">add</mat-icon>
</button>
<div fxLayout="row" fxLayoutAlign="left" style="padding: 15px 5px">
  <div fxLayout="column" fxFlex="100%">
    
    <div fxLayout="row" fxLayoutAlign="left">
        <h3 fxFlex="auto">Container Management</h3>
        <div fxFlex="200px">
            <input matInput placeholder="Search" [ngModel]="search" class="my-text-box" (ngModelChange)='searchRecords($event)'>
        </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Unit</th>
            <th>Initial Quantity</th>
            <th>&nbsp;</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let container of containers; let i = index" [class.my-class]="container.initial_quantity != containerTotal[i]">
            <td>{{i+1}}</td>
            <td (click)="addEdit(container)" style="cursor: pointer">{{container.name}}</td>
            <td (click)="addEdit(container)" style="cursor: pointer">{{container.capacity}}</td>
            <td (click)="addEdit(container)" style="cursor: pointer">{{container.unit}}</td>
            <td (click)="addEdit(container)" style="cursor: pointer">{{container.initial_quantity}}</td>
            <td>
              <mat-icon style="margin-left: 250px" (click)="delete(container)" style="cursor: pointer">delete</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr/>
<div fxLayout="row" fxLayoutAlign="left" style="padding: 15px 5px">
  <div fxLayout="column" fxFlex="100%">
    
    <div fxLayout="row" fxLayoutAlign="left">
        <h3 fxFlex="auto">Container Initial Stock Distribution</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>SN</th>
            <th>Party</th>
            <th *ngFor="let container of containers; let i = index">{{container.name}}</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let party of parties; let i = index">
            <td>{{i+1}}</td>
            <td>{{party.name}}</td>
            <td *ngFor="let container of containers; let j = index">
                <input 
                (change)="updateContainerInitalDistribution(container.id, party.id, quantity[container.id + '_' + party.id], j)"
                type="number"
                matInput
                placeholder="Quantity"
                [(ngModel)]="quantity[container.id + '_' + party.id]"
                class = "dialog-text-box"
                >
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>Totals</td>
            <td *ngFor="let container of containers; let j = index">
              {{containerTotal[j]}}  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>