<div class="container">
    <header fxLayout="row">
      <strong fxFlex= "auto"><span>O<sub>2</sub></span> Oxygen</strong>
      <nav fxFlex="70px">
        <ul>
          <li>
            <!-- <img src="../../assets/btn-min.svg" id="min" (click)="minimizeWindow()"> -->
            <img src="./assets/btn-min.svg" id="min" (click)="minimizeWindow()">
          </li>
          <li>
            <!-- <img src="../../assets/btn-close.svg" (click)="closeWindow()"> -->
            <img src="./assets/btn-close.svg" (click)="closeWindow()">
          </li>
        </ul>
      </nav>
    </header>
    <mat-toolbar color="accent" style="overflow-x: auto">
      <div class="button-row">
        <a mat-button routerLink="">Dashboard</a>
        <a mat-button routerLink="./products">Products</a>
        <a mat-button routerLink="party-rates">Party & Rates</a>
        <a mat-button routerLink="containers">Containers</a>
        <a mat-button routerLink="transactions">Transactions</a>
        <a mat-button routerLink="reports">Reports</a>
        <a mat-button routerLink="users">Users</a>
        <a mat-button routerLink="help">Help</a>
      </div>
    </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
  </div>