<div class="container">
    <header fxLayout="row">
      <strong fxFlex= "auto"><span>O<sub>2</sub></span> Oxygen</strong>
      <nav fxFlex="70px">
        <ul>
          <li>
            <!-- <img src="../../assets/btn-min.svg" id="min" (click)="minimizeWindow()"> -->
            <img src="./assets/btn-min.svg" id="min" (click)="minimizeWindow()">
          </li>
          <li>
            <!-- <img src="../../assets/btn-close.svg" (click)="closeWindow()"> -->
            <img src="./assets/btn-close.svg" (click)="closeWindow()">
          </li>
        </ul>
      </nav>
    </header>
    <mat-toolbar color="accent" style="overflow-x: auto">
      <div class="button-row">
        <a mat-button routerLink=""><span>D</span>ashboard</a>
        <a mat-button routerLink="./products"><span>P</span>roducts</a>
        <a mat-button routerLink="party-rates">P<span>a</span>rty & Rates</a>
        <a mat-button routerLink="containers"><span>C</span>ontainers</a>
        <a mat-button routerLink="transactions"><span>T</span>ransactions</a>
        <a mat-button routerLink="reports"><span>R</span>eports</a>
        <a mat-button routerLink="users"><span>U</span>sers</a>
        <a mat-button routerLink="help"><span>H</span>elp</a>
      </div>
    </mat-toolbar>
    <main>
        <router-outlet></router-outlet>
    </main>
  </div>