
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body {
  background-color: #EBEBEB;
  font-family: 'Montserrat';
  font-weight: 100
}


.mat-button {
  font-family: 'Montserrat';
  font-weight: 100
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 20px 0;
}

.item-list {
  border-bottom: 1px dotted #ccc;
}

.full-width {
  width: 100%;
}

.muted {
  color: #999;
}

